@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700|Trade+Winds&display=swap");

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "Montserrat";
}

body {
    background: #dfecff;
    color: #7f8db0;
}

a {
    color: #7f8db0;
}

.wrapper {
    width: 100%;
    height: 100%;
}

.navbar {
    background: #fff;
    width: 100%;
    height: 60px;
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.navbar .navbar_left .logo a {
    font-family: "Trade Winds";
    font-size: 20px;
}

.navbar .navbar_right {
    display: flex;
}

.navbar .navbar_right img {
    width: 35px;
}

.navbar .navbar_right .icon_wrap {
    cursor: pointer;
}

.navbar .navbar_right .notifications {
    margin-right: 25px;
}

.navbar .navbar_right .notifications .icon_wrap {
    font-size: 28px;
}

.navbar .navbar_right .profile,
.navbar .navbar_right .notifications {
    position: relative;
}

.navbar .profile .profile_dd,
.notification_dd {
    position: absolute;
    top: 96%;
    /* margin: 60px 0; */
    left: 50%;
    transform: translateX(-60%);
    min-width: 300px;
    max-width: 450px;
    font-size: 12px;
    user-select: none;
    background: #fff;
    border: 1px solid #c7d8e2;
    height: auto;
    display: none;
    border-radius: 7px;
    box-shadow: 10px 10px 35px rgba(0, 0, 0, 0.125), -10px -10px 35px rgba(0, 0, 0, 0.125);
    z-index: 999;
}

.navbar .profile .profile_dd:before,
.notification_dd:before {
    content: "";
    position: absolute;
    top: -20px;
    right: 150px;
    border: 10px solid;
    border-color: transparent transparent #fff transparent;
    display: none;
}

.notification_dd li {
    border-bottom: 1px solid #f1f2f4;
    padding: 10px 0px;
    padding-left: 5px;
    display: flex;
    align-items: center;
}

.notification_dd li .notify_icon {
    display: flex;
}

.notification_dd li .notify_icon .icon {
    display: inline-block;
    background: url("https://i.imgur.com/MVJNkqW.png") no-repeat 0 0;
    width: 40px;
    height: 42px;
}

.notification_dd li.baskin_robbins .notify_icon .icon {
    background-position: 0 -43px;
}

.notification_dd li.mcd .notify_icon .icon {
    background-position: 0 -86px;
}

.notification_dd li.pizzahut .notify_icon .icon {
    background-position: 0 -129px;
}

.notification_dd li.kfc .notify_icon .icon {
    background-position: 0 -178px;
}

.notification_dd li .notify_data {
    margin: 0 15px;
    width: 80%;
}

.notification_dd li .notify_data .title {
    color: #000;
    font-weight: 600;
    font-size: 14px;
}

.notification_dd li .notify_data .sub_title {
    margin-top: 5px;
    width: 200px;
    word-wrap: break-word; /* Break long words */
    white-space: normal; /* Allow text to wrap */
    overflow-wrap: break-word; /* Ensure compatibility with different browsers */
    max-width: 100%; /* Ensure the text doesn't overflow its container */
    color: rgba(0, 0, 0, 0.6);
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.notification_dd li .notify_status p {
    font-size: 12px;
}

.notification_ul {
    padding-left: 0;
}

.notification_dd li.success .notify_status p {
    color: #47da89;
}

.notification_dd li.failed .notify_status p {
    color: #fb0001;
}

.notification_dd li.show_all {
    color: #2196f3;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.notification_dd li.show_all p {
    color: #2196f3;
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}

.notification_dd li.show_all p:hover {
    text-decoration: underline;
}

.navbar .navbar_right .profile .icon_wrap {
    display: flex;
    align-items: center;
    margin-left: -19px;
    margin-top: -50px;
}

.navbar .navbar_right .profile .name {
    display: inline-block;
    margin: 0 10px;
}

.navbar .navbar_right .icon_wrap:hover,
.navbar .navbar_right .profile.active .icon_wrap,
.navbar .navbar_right .notifications.active .icon_wrap {
    color: #3b80f9;
}

.navbar .profile .profile_dd {
    width: 225px;
}
.navbar .profile .profile_dd:before {
    right: 10px;
    display: none;
}

.navbar .profile .profile_dd ul li {
    border-bottom: 1px solid #f1f2f4;
}

.navbar .profile .profile_dd ul li a {
    display: block;
    padding: 15px 35px;
    position: relative;
}

.navbar .profile .profile_dd ul li a .picon {
    display: inline-block;
    width: 30px;
}

.navbar .profile .profile_dd ul li a:hover {
    color: #3b80f9;
    background: #f0f5ff;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.navbar .profile .profile_dd ul li.profile_li a:hover {
    background: transparent;
    cursor: default;
    color: #7f8db0;
}

.navbar .profile .profile_dd ul li .btn {
    height: 32px;
    padding: 7px 10px;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    background: #3b80f9;
    width: 125px;
    margin: 5px auto 15px;
}

.navbar .profile .profile_dd ul li .btn:hover {
    background: #6593e4;
}

.navbar .profile.active .profile_dd,
.navbar .notifications.active .notification_dd {
    display: block;
}

.popup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.2s ease;
    display: none;
}

.popup .shadow {
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
}

.popup .inner_popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
}

.popup .notification_dd {
    display: block;
    position: static;
    margin: 0 auto;
    height: 50%;
    overflow: auto;
    margin-top: 45%;
}

.popup .notification_dd:before {
    display: none;
}

.popup .notification_dd li.title {
    font-weight: 700;
    justify-content: center;
    position: relative;
    color: #000;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.popup .notification_dd li.title .close {
    position: absolute;
    top: 2px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.popup .notification_dd li.title .close:hover {
    opacity: 0.5;
}

button#show_notification {
    border: none;
    background: white;
    /* margin-top: 35px; */

    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.notification_header_new {
    color: #2196f3;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 28px;
    margin-left: 29px;
}

.notifcation_number {
    color: #fff;
    text-align: center;
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    background: #2196f3;
    z-index: 999;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 46%; /* Adjust this value to fine-tune the vertical position */
    right: -24%;
}

.notifications {
    width: 18px; /* Set the width of the element */
    height: 18px; /* Set the height of the element */
    border-radius: 50%; /* Make the element a circle */
    line-height: 18px;
    margin-top: 31px;
}

.notifications_button_div {
    /* margin-top: 0px;
    margin-left: 70px; */
    position: relative;
    padding: 0 1.5rem;
    /* display: inline-block; */
}

/* .notifications_button_div > * {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

.trial_notify {
    width: 23%;
    height: 40%;
}

.notification_number {
    position: absolute;
    top: -10px;
    right: -5px;
    background-color: red;
    color: white;
    border-radius: 30%;
    padding: 2px 6px;
    font-size: 12px;
    font-weight: bold;
    display: none; /* Hidden by default */
}

.show_all .link {
    margin: 0 auto !important;
}
